body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-color: aqua;
}
h1{
  text-align: center;
}
form{
  border: 1px solid black;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 2%;
}
form>input{
  margin: 2%;
}
.result{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}
/* ========================W3_Header================================ */

/* .header_div{
  display: flex;
  color: brown;
} */